.mainpage{
    height: 600px;
    width: 1200px;
    background-color: white;
}
.first{
    height: 600px;
    width: 400px;
    background-color: red;
}
.second{
    height: 600px;
    width: 800px;
    background-color:yellow;
    position: relative;
    left: 400px;
    position: fixed;
}
h2{
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline yellow;
}
p{
    font-size:9px;
    font-family: monospace;
    text-decoration: overline yellow;
}
em{
    text-align: center;
    font-size: 15px;

}
em::first-letter{
    font-size:100px;
}
em::first-line{
    font-style: italic;
}
