main{
    height: 650px;
    width: 800px;
    background-color: white;
    margin: auto;
    text-align: center;
}
header{
    height: 100px;
    width: 800px;
    background-color: blueviolet;
}
aside{
    height: 500px;
    width: 300px;
    background-color: violet;
    margin-top: 5px;
   float: left;
}
section{
    height: 500px;
    width: 495px;
    background-color: tomato;
    float: right;
    margin-top: 5px;
    margin-left: 5px;
  
}
footer{
    height: 45px;
    width: 800px;
    background-color: springgreen;
    float: left;
    margin-top: 5px;
}