.main{
    border: 3px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  

}
.item-1{
    background-color: aqua;
    margin: 5px;
    padding: 10px;
}
.one{
    background-color: brown;
}
.two{
    background-color: violet;
}
.three{
    background-color: slategrey;
}
.four{
    background-color: sandybrown;
}
.five{
    background-color: orange;
}
.six{
    background-color:magenta;
}
.seven{
    background-color:limegreen;
} 
