
main{
    height: 600px;
    width: 600px;
    background-color: violet;
    margin: auto;
}
header{
    height: 100px;
    width: 600px;
    background-color: chartreuse;
}
section{
    height: 200px;
    width: 300px;
    background-color: cadetblue;
    float: left;
}
aside{
    height: 400px;
    width: 300px;
    background-color: sienna;
    float: right;
}
article{
    height: 200px;
    width: 300px;
    background-color:darkorange;
    float: left;
}
footer{
    height: 100px;
    width: 600px;
    background-color:blueviolet;
    float: left;
}