.main{
    height: 690px;
    width: 980px;
    background-color:white;
    margin: 30px;
}
.header{
    height: 140px;
    width: 980px;
    border: 1px solid white;
    background-color: green;
    
}
.slider{ height: 450px;
    width: 270px;
    border: 1px solid white;
    margin-top: 15px;
    background-color: green;

}
.content{
    height: 450px;
    width: 690px;
    border: 1px solid white;
    margin-left: 280px;
    background-color: green;
}
.footer{
    height: 70px;
    width: 980px;
    border: 1px solid white;
    margin-top: 15px;
    background-color: green;
}