*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 50px;
    background-color:violet;
    display: flex;
    justify-content: center; 
    position: fixed;
}
.header-container{
    width: 90%;
    height: 50px;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10%;
    height: 50px;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fa-shop{
    color: red;
    text-shadow: 1px 2px black;
}
.nav{
    width: 80%;
    height: 50px;
    /* background-color: tan; */
    /* display: flex;
    justify-content: center; */
    position: absolute;
    left: 250px;
    line-height: 50px;

}
.nav-links{
    list-style: none;
    width: 50%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: inline-flex;
    text-align: center;
    gap: 30px;
}
.nav-links li>ul li{
    display: none;
   
}
.nav-links li:hover>ul li{
    display: block;
   
    width: 100px;
    background-color: #ddbab5;
}

a{
    color: black;
    text-decoration: none;
    
} 
a:hover{
    color: red;
}

.input-text{
    width: 27%;
    height: 30px;
    position: relative;
    left: -40px;
}
.search{
    position: relative;
    left:-35px;
    width: 7%;
    height: 23px;
}
.profile{
    display:inline;
    font-size: 15px;
    position: relative;
    top: 10px;
    left: -50px;
}
.fa-user{
    position: relative;
    left: 30px;
    top: -7px;
}
.fa-heart{
    position: relative;
    left: 55px;
    top: -7px;
}
.fa-cart-shopping{
    position: relative;
    left: 85px;
    top: 7px;
    font-size: 20px;
    align-items: center;
}


/* ===================================header end============================================ */

/* =====================================section start=================================== */
.container{
    width: 100%;
    height: 500px;
    background-color: rgb(245 246 248);
    /* background-color: aquamarine; */
    overflow: hidden;
    display: flex;
    border-top: 1px solid black ;
}
.containt-1{
    width: 70%;
    height: 500px;
    /* background-color:yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.containt-2{
    width: 80%;
    height: 400px;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.text-1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sale{
    width: 50%;
    height: 100px;
    font-size:70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 10px solid rgb(17, 16, 17);
    color: #ff523b;
}
.animationsale::after{
    content: '';
    animation:changes 1s infinite linear ;
    color: red;
    text-shadow: 2px 5px black;
}

@keyframes changes{
    10%{content: "SALE";}
    /* 20%{content: "SALE";}
    30%{content: "SALE";}
    40%{content: "SALE";} */
}


/* ===================================Section container end============================ */

/* =================================section branding start=========================================== */
.deals{
    height: 70px;
    width: 100%;
    background-color:white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
}
.section-text-1{
    margin-left: 20px;
    margin-bottom: 10px;
    letter-spacing: 10px;

}
.branding{
    width: 100%;
    height: 470px;
    background-color:rgb(245 246 248);
    padding-top: 15px;
    border-bottom: 1px solid grey ;
    /* border: 1px solid grey; */
    cursor: pointer;
    
}

.box-1{
    height:200px;
    width:11%;
    /* background-color: #ff523b; */
    float: left;
    margin-left: 18px;  
}
.box-1:hover{
    transform: scale(1.1);
    border: 1px solid black;
} 
.branding-1{
    width: 100%;
    height: 200px;
    /* background-color: lightgray; */
   
}
.box-2{
    height:200px;
    width:11%;
    /* background-color: #ff523b; */
    float: left;
    margin-left: 18px;  
    margin-top: 10px;
}
.box-2:hover{
    transform: scale(1.1);
    border: 1px solid black;
} 
.img-2{
    height: 160px;
    width: 100%;
}
.crocs{
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
.up{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

/* =================================================section branding end================================================== */

/* ==========================================containt-2 start================================================= */

.containt-3{
    height: 400px;
    width: 100%;
    background-color: rgb(252, 246, 246);
}
.for-him{
    height: 400px;
    width: 50%;
    /* background-color: #ff523b; */
    float: left;
}
.model-png{
    height: 400px;
    width: 50%;
}
.for-her{
    height: 400px;
    width: 50%;
    /* background-color: blueviolet; */
    float: left;
}
.model-png-2{
    height: 400px;
    width: 50%;
    position: relative;
    left: 310px;
}
.containt-3-logo{
    color: red;
    position: absolute;
    left: 600px;
    top: 1125px;
    font-size: 40px;
    text-shadow: 1px 5px black;
}
.containt-3-text-1{
    position: absolute;
    left: 500px;
    top: 1180px;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}
.containt-3-text-2{
    position: absolute;
    left: 550px;
    top: 1235px;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    color: #ff523b;
    text-shadow: 2px 2px black;
}
.containt-3-text-3{
    position: absolute;
    left: 440px;
    top: 1260px;
    font-size: 100px;
    font-family: sans-serif;
    text-align: center;
}
.containt-3-text-4{
    position: absolute;
    left: 500px;
    top: 1370px;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    color: #372bb9;
}
.containt-3-text-5{
    position: absolute;
    left: 560px;
    top: 1420px;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    color:#372bb9 ;
}
.for-her-1{
    width: 80px;
    height: 25px;
    font-size: 20px;
    position: absolute;
    left: 300px;
    top: 1450px;
    border: none;
    font-weight: bold;
    
}
.for-her-1:hover{
    background-color: #ff523b;
}

.for-him-1{
    width: 80px;
    height: 25px;
    font-size: 20px;
    position: absolute;
    left: 910px;
    top: 1450px;
    border: none;
    font-weight: bold;
}
.for-him-1:hover{
    background-color: #ff523b;
}


.off-200::after{
    content: '';
    animation:change 10s infinite linear ;
    color: red;
    text-shadow: 2px 5px black;
}
@keyframes change{
    10%{content: "100-OFF";}
    20%{content: "200-OFF";}
    30%{content: "300-OFF";}
    40%{content: "400-OFF";}
}

