*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 650px;
    width: 1360px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url(Image/random/new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.header{
    height: 50px;
    width: 1360px;
    background-color: rgba(95, 86, 86, 0.1);
    
}
.logo{
    height: 50px;
    width: 265px;
    
    float: left;
    
}
.menu{
    height: 50px;
    width:1100 ;
    
}
a{
    line-height: 50px;
    position: relative;
    left: 610px;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
h3{
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: white;
}

/* ===================================header end============================= */

/* ====================================container start============================ */
.container{
    height: 600px;
    width: 1365px;
}

.text-1{
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 25px;
    color: white;
    font-weight: 10;
}
.text-2{
    text-align: center;
    position: relative;
    top: 220px;
    font-size: 35px;
    color: white;
    text-shadow: 1px 2px red;
}
.text-3{
    text-align: center;
    position: relative;
    top: 240px;
    font-size: 15px;
    color: white;
}
.button-1{
    position: relative;
    left: 560px;
    top: 250px;
    height: 25px;
    width: 120px;
    border: none;
    
}
.button-2{
    position: relative;
    left: 560px;
    top: 250px;
    height: 25px;
    width: 120px;
    border: none;
    background-color: aqua; 
}
.button-1:hover{
    background-color: aqua;
}
.button-2:hover{
    background-color:yellowgreen;
}

/* ------------------------------------------------------------------------- 
*/
/* ===================================effects animation start========================== */
.effects::after{
    content: "";
    animation: changes 5s infinite linear;
    color: aqua;
    text-shadow: 2px 3px black;
}
@keyframes changes{
    10%{ content: "BANGALORE"; }
    20%{content: "MUMBAI";}
    30%{ content: "PUNE"; }
    40%{content: "GOA";}
    50%{ content: "KARNATAK"; }
    60%{content: "GUJRAT";}
    70%{ content: "NAGPUR"; }
    80%{content: "DELHI";}
}


