*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.main{
    width: 1360px;
    height: 1130px;
    background-color:#faf1e9;
    border: 2px solid greenyellow;
}
.header{
    width: 1360px;
    height: 60px;
    /* background-color: rgb(131, 122, 122); */
    float: left;
    /* opacity: 0.8; */
}
.logo{
    width: 250px;
    height: 60px;
    /* background-color: brown; */
    float: left;
    text-shadow: 2px 1px red;

}
h2{
    position: absolute;
    left: 100px;
    top: 24px;
    font-size: 35px;
    color:black;
    transition: 1s;
}
h2:hover{
    color: blueviolet;
}
.header ul li{
    float: left;
    margin-left: 45px;
    line-height:13vh;
    position: relative;
    left: 350px;
    list-style: none;
    font-size:20px;
    font-weight: bold;
}
a{
    color:black;
    text-decoration: none;
    text-shadow: 1px 1px red;
    
}
a:hover{
    color: red;
    
}

/* ========================================================= */

.container{
    height:635px;
    width: 1350px;
    background-color: yellowgreen;
    
}
h3{
    
    font-size: 20px;
    position: relative;
    top: 190px;
    left: 100px;
    font-weight: 300;
    color: black;
    
}
h1{
    position: relative;
    top: 190px;
    left: 95px;
    font-size: 50px;
    color: orange;
    text-shadow: 2px 2px black;
    /* text-decoration: underline red; */
}
.text-1{
    position: relative;
    top: 195px;

}
span{
    color: red;
    position: relative;
    top: 5px;
    font-weight: 300;
    text-shadow: 1px 1px black;
    /* border: 2px solid black; */
    
    /* text-decoration: underline rgb(69, 73, 72); */
}
.img-2{
    height: 482px;
    width: 500px;
    position: relative;
    left: 780px;  
    top:-100px;
    opacity:0.8;
    /* transform: translateX(50px); */
    transition: bottom 1s;
    z-index: 0;
    background-size: cover;
    
}
/* .img-2:hover{
    left: 100px;
} */

/* =============================================== */
.container-2{
    height: 640px;
    width:1360px;
    background-color:black;

}
.content-1{
    height: 440px;
    width: 340px;
    /* background-color: blueviolet; */
    position: relative;
    left: 130px;
    top: -90px;
}
.container-2-h1-1{
    position: relative;
    left:520px;
    top: 90px;
    font-size:45px;
    text-decoration: underline;
}
.container-2-text-1{
    position: relative;
    left: 200px;
    color: #faf1e9;
}
.content-1-img{
    height: 450px;
    width: 340px;
}
p{
    color: wheat;
    position: relative;
    top: 100px;
    left: 520px;
    font-size: 20px;
}
h5{
    color: #faf1e9;
    float: left;
    margin-left: 50px;
    position: relative;
    top: 110px;
    left: 470px;
    text-decoration: underline red;
    font-size: 16px;
}
h6{
    color: #faf1e9;
    float: left;
    position: relative;
    left:195px;
    top: 132px;
    font-size: 15px;
    margin-left: 80px;
    color: wheat;
}
.skills{
    position: relative;
    left: -40px;
    top: 160px;
    font-size: 18px;
    color: white;

}
.skill-1{
    position: relative;
    left: -138px;
    top: 190px;
    font-size: 18px;
    color: white;
}
meter{
    position: relative;
    top: 192px;
    left: -190px;
    width: 300px;
    
}
.skill-2{
    position: relative; 
    left: -228px;
    top: 220px;
    font-size: 18px;
    color: white;
}
.skill-3{
    position: relative; 
    left: -315px;
    top: 250px;
    font-size: 18px;
    color: white;
}
.meter-2{
    position: relative;
    top: 204px;
    left: -190px;
    width: 300px;
}
progress{
    position: relative;
    top: 215px;
    left: 733px;
    width: 300px;
}
/* --------------------------------------------------------- */
.container-3{
    background-color: violet;
    height: 800px;
    width: 100%;
}
.product-text-1{
    position: relative;
    top:15px;
    left: 10px;
    text-decoration: underline red;
}
.container-3-1{
    background-color: silver;
    height: 300px;
    width: 280px; 
    float: left;
    position: relative;
    left: 10px;
    top: 70px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.container-3-1:hover{
    /* background-color: rgb(212, 42, 71); */
    transition: 1s;
    transform: scale(1.05);
    cursor: pointer;
}
img{
    height: 300px;
    width: 280px;

}
/* -------------------------------------------------------------------------- */
.container-4{
    background-color: yellowgreen;
    height: 600px;
    width: 100%;
}
.contact-text-1{
    position: relative;
    top:70px;
    left: 50px;
    /* text-decoration: underline; */
    text-shadow: 4px 2px white;
}
.contact-text-2{
    position: relative;
    left: 60px;
    top: 130px;
    text-decoration: underline;
    color: white;
}
.contact-text-3{
    position: relative;
    left: 60px;
    top: 150px;
    text-decoration: underline;
    color: white;
    font-size: 18px;

}
.contact-text-4{
    position: relative;
    left: 60px;
    top: 110px;
    font-size: 25px;
    color: red;
    font-weight: bolder;
    text-shadow: 2px 1px white;
    text-decoration: underline;
}
.fa-solid{
    color: red;
}
.fa-brands{
    position: relative;
    top: 145px;
    left: 55px;
    font-size: 24px;
    margin-left: 5px;
    color: white;
}
.fa-brands:hover{
    color: red;

}
.button-2{
    position: relative;
    left:-100px;
    top: 200px;
    width: 200px;
    height: 40px;
    color:white;
    background-color: red;
    border: none;
}
input{
    position: relative;
    left: 335px;
    top: -40px;
    height: 30px;
    width: 500px;
    margin-top: 20px;
    border: none;
}
.input-2{
    position: relative;
    left: 700px;
    top: -40px;
    height: 30px;
    width: 500px;
    margin-top: 20px;
    border: none;
}
textarea{
    position: relative;
    left: 700px;
    top: -40px;
    height: 150px;
    width: 500px;
    margin-top: 20px;
    border: none;
}
button{
    position: relative;
    left: 700px;
    top: -20px;
    height: 30px;
    width: 100px;
}



