<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout2.css">
</head>
<body>
    <main>
        <aside>aside</aside>
        <section>
            <header>
                <div class="menu">menu</div>
                <div class="link">link</div>
            </header>
            <article>
                <nav>nav</nav>
                <div class="box">
                    <div class="top">top</div>
                    <div class="bottom">bottom</div>
                </div>
            </article>

        </section>
       
        
    </main>
</body>
</html>