main{
    background-color: yellowgreen;
    height: 150px;
    width: 200px;
    animation-name: changes;
    transition-duration: 5s;
}
@keyframes changes {
        10%{background-color: brown;}
        20%{background-color: yellow;}
        30%{background-color: beige;}
        40%{background-color: cyan;}
        
    }
